@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: rgba(243,245,249,255);

}


body {
  color: rgb(var(--foreground-rgb));
  
    font-size: small;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
